In [ ]:
customers = [('Adam', 'Smith'),('Mary', 'Samsonite'),('Pancho', 'Sanchez'),('Lily', 'Wang'),('Curtis', 'Jackson'),('Anne', 'Shirley'),('Alex', 'Hamilton'),('Bill', 'Shakespeare'),('Steve', 'Sondeheim')]
acustomers =[f for f in customers if f[0].upper()[0]=='A']
print(acustomers)

[('Adam', 'Smith'), ('Anne', 'Shirley'), ('Alex', 'Hamilton')]

In [ ]:
def breakevenprice(FC, MC, Q):
  P = FC/Q + MC
  return P

In [ ]:
Quantities =[500,1000,1500,2000,2500,3000]
FC = 20000
MC = 20
BEPrices =[]
for Q in Quantities:
    P = breakevenprice(FC,MC,Q)
    BEPrices.append(P)
print(BEPrices)

[60.0, 40.0, 33.333333333333336, 30.0, 28.0, 26.666666666666668]

In [ ]:
def offer(leadrec):
  offer=[]
  id=leadrec[0]
  income=leadrec[1]
  debt=leadrec[2]
  married=leadrec[3]
  if income>=2*debt:
    offer='A'
  elif (income<2*debt)&(income>=debt/2)&(married==1):
    offer='B'
  else:
    offer='None'
  return offer

In [ ]:
r=(1,25000,12000,0)

In [ ]:
offer(r)

'A'

In [ ]:
leads = [(1, 25000,12000,1),(2, 50000,25000,0),(3, 125000,200000,1),(4, 25000,0,0),(5, 30000,80000,1),(5, 50000,80000,0)]

In [ ]:
for x in leads:
  print(offer(x))

A
A
B
A
None
None